body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c3327;
    font-family: 'Roboto', sans-serif;
    
}

.button-container {
    display: flex;
}

.score {
    display: flex;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

button {
    background-color: #c7ddd1;
    font-size: 50px;
    color: #181F1C;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 5px;
}

#container,
#score {
    color:#c7ddd1;
    font-size: 45px;
}
